<h3>Welcome {{name}} to your Dashboard</h3>
<div class='container'>
  <a href='/createEmployment'><button class='btn btn-success' type='submit'>Create New</button></a>
  {{#if companies}}
  <h1>List Of Companies</h1>
  <table class='table table-striped table-responsive'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Location</th>
        <th>Joining Date</th>
        <th>Leaving Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each companies}}
      <tr>
        <td>{{this.company.name}}</td>
        <td>{{this.company.category}}</td>
        <td>{{this.company.location}}</td>
        <td>{{this.joiningDate}}</td>
        <td>{{this.leavingDate}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
  {{else}}
  <h3>No Companies have been created yet</h3>
  {{/if}}
</div>